@model ProjBiblioFront.Models.LoanViewModel

<h1>Details</h1>

<div>
    <h4>LoanViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>T&iacute;tulo</th>
            <th>Autor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <img class="card-img-top" src="~/@item.Photo" style="width:50px;height:50px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @foreach (var bookAuthor in item.Authors)
                    {
                        @Html.DisplayFor(modelItem => bookAuthor.Name) 
                       <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Voltar para Lista</a>
    
    <br />

    @if (string.IsNullOrEmpty(Model.ReturnDate.ToString()))
    {
        <a asp-action="ReturnBooks" asp-route-id="@Model.Id" class="btn btn-danger">Devolu&ccedil;&atilde;o</a>
    }
</div>
